@model diga.bl.Models.Functions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Functions</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.BigTitleTextId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BigTitleText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BigTitleText.TextId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullDescription.TextId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SmallTitleText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SmallTitleText.TextId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongText.TextId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
