@using diga.web.Helpers;
@inject diga.dal.Services.ICultureService CultureHelper
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = CultureHelper.GetTranslation("crm", Context.Session.GetString("SiteLanguage"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner mobile-margin-banner">
    <div class="container-fluid">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../home/index"> @CultureHelper.GetTranslation("homepage", Context.Session.GetString("SiteLanguage"))</a></li>
                    <li class="breadcrumb-item"><a href="../modules/index"> @CultureHelper.GetTranslation("modules", Context.Session.GetString("SiteLanguage"))</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@CultureHelper.GetTranslation("crm", Context.Session.GetString("SiteLanguage"))</li>
                </ol>
            </nav>
            <div class="row align-items-center py-5">
                <div class="col-md-6 col-sm-12">
                    <h1 class="h1-diga mb-5">@CultureHelper.GetTranslation("crm_what_is_it", Context.Session.GetString("SiteLanguage"))</h1>
                    <div class="w-88">
                        <p class="text-white font-weight-bold lh-1-5-mobile mb-5">@CultureHelper.GetTranslation("how_to_avoid_mistakes_with_crm", Context.Session.GetString("SiteLanguage"))</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center m-auto">
                    <img class="img-fluid" src="~/Assets/modules/crm_diga.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="vl">
                <div class="vl-mobile-items ml-5 w-88">
                    <p>@CultureHelper.GetTranslation("a_lot_has_already_been_said_about_crm", Context.Session.GetString("SiteLanguage"))</p>
                    <p class="pt-2 mb-0">@CultureHelper.GetTranslation("crm_is_a_common", Context.Session.GetString("SiteLanguage"))</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="azul-textblock">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="ml-3">
                        <div class="div-title"> @CultureHelper.GetTranslation("how_does_crm_work", Context.Session.GetString("SiteLanguage"))</div>
                        @Html.Raw(CultureHelper.GetTranslation("how_does_crm_work_text", Context.Session.GetString("SiteLanguage")))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-5">
    <div class="container">
        <div class="div-title w-50">
            @CultureHelper.GetTranslation("what_does_the_crm_look_like", Context.Session.GetString("SiteLanguage"))
        </div>
        <div class="w-88">
            <p>@CultureHelper.GetTranslation("what_does_the_crm_look_like_text_1", Context.Session.GetString("SiteLanguage"))</p>
            <p class="pt-3">@CultureHelper.GetTranslation("what_does_the_crm_look_like_text_2", Context.Session.GetString("SiteLanguage"))</p>
        </div>

    </div>
</section>
<section class="azul-imgblock">
    <div class="container-fluid">
        <div class="container text-center">
            <img src="@CultureHelper.GetTranslation("crm_screen.png", Context.Session.GetString("SiteLanguage"))" />
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2 m-auto">
                <h4 class="font-weight-bold">@CultureHelper.GetTranslation("crm_opportunities", Context.Session.GetString("SiteLanguage")):</h4>
            </div>
            <div class="col-md-9 col-lg-10">
                <div class="vl">
                    <div class="vl-mobile-items ml-5 pl-4">
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("accounting_of_orders_and_transactions", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("registration_of_clients_for_services", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("mgmt_of_tasks_and_projects", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("document_designer", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("visual_online_reports", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("service_cost_calculator", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("setting_and_monitoring_of_kpi", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("financial_mgmt", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("integration_with_mail_telephony_sn_sms_email", Context.Session.GetString("SiteLanguage"))</button>
                        <button class="btn_azul_crm">@CultureHelper.GetTranslation("business_process_automation", Context.Session.GetString("SiteLanguage"))</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-88 mt-5">@Html.Raw(CultureHelper.GetTranslation("automation_is_the_crown", Context.Session.GetString("SiteLanguage")))</div>
    </div>
</section>
<section class="py-5 banner-min">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-10 text-center m-auto">
                <div class="div-title text-white mb-4">@(CultureHelper.GetTranslation("order_crm_system_installation_before", Context.Session.GetString("SiteLanguage")) + new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)).ToString("dd.MM.yyyy"))</div>
                <p class="text-white font-weight-bold fs-23 mb-5">@CultureHelper.GetTranslation("get_a_bonus_module_time_mgmt", Context.Session.GetString("SiteLanguage"))</p>
                <button id="crmBonusModule" href="#" class="btn_rosa" data-toggle="modal" data-target="#CallModal">@CultureHelper.GetTranslation("order", Context.Session.GetString("SiteLanguage"))</button>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-5">
    <div class="container">
        <div class="div-title w-75">@CultureHelper.GetTranslation("what_effect_expect_from_implementation_crm", Context.Session.GetString("SiteLanguage"))</div>
        <div class="w-88">@Html.Raw(CultureHelper.GetTranslation("according_to_research_increase_of_profits", Context.Session.GetString("SiteLanguage")))</div>
        <div class="row justify-content-left my-5">
            <div class="vl ml-0">
                <div class="vl-mobile-items ml-5">
                    <h4 class="font-weight-bold pb-4">@CultureHelper.GetTranslation("in_addition_to_sales_growth_crm_led_to", Context.Session.GetString("SiteLanguage"))</h4>
                    <button class="btn_azul_3">
                        <i class="fa fa-circle bullet-in-button" aria-hidden="true"></i>
                        <span class="pl-1">@CultureHelper.GetTranslation("the_formation_of_template_docs", Context.Session.GetString("SiteLanguage"))</span>
                    </button>
                    <button class="btn_azul_3">
                        <i class="fa fa-circle bullet-in-button" aria-hidden="true"></i>
                        <span class="pl-1">@CultureHelper.GetTranslation("number_of_customer_requests", Context.Session.GetString("SiteLanguage"))</span>
                    </button>
                    <button class="btn_azul_3">
                        <i class="fa fa-circle bullet-in-button" aria-hidden="true"></i>
                        <span class="pl-1">@CultureHelper.GetTranslation("processing_of_incoming_requests", Context.Session.GetString("SiteLanguage"))</span>
                    </button>
                    <button class="btn_azul_3">
                        <i class="fa fa-circle bullet-in-button" aria-hidden="true"></i>
                        <span class="pl-1">@CultureHelper.GetTranslation("the_average_check_increased", Context.Session.GetString("SiteLanguage"))</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mt-5 w-88">@Html.Raw(CultureHelper.GetTranslation("behind_each_indicator_gross_profit", Context.Session.GetString("SiteLanguage")))</div>
    </div>
</section>
<section class="azul-textblock">
    <div class="container-fluid">
        <div class="container">
            <div class="div-title"> @CultureHelper.GetTranslation("consider_an_example", Context.Session.GetString("SiteLanguage"))</div>
            <div class="w-88">@Html.Raw(CultureHelper.GetTranslation("example_in_crm_module_html", Context.Session.GetString("SiteLanguage")))</div>
        </div>
    </div>
</section>
<section class="bg-white py-5">
    <div class="container">
        <div class="div-title">@CultureHelper.GetTranslation("what_capabilities_should_a_crm_have", Context.Session.GetString("SiteLanguage"))</div>
        <p class="my-5">@CultureHelper.GetTranslation("over_time_developers", Context.Session.GetString("SiteLanguage"))</p>

        <h4 class="font-weight-bold my-5">@CultureHelper.GetTranslation("list_of_required_modules_for_crm", Context.Session.GetString("SiteLanguage"))</h4>
        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center bg-white">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="~/Assets/images/uchet.svg" />
                        </div>
                    </div>
                    <div class="media-body mt-3">
                        <h5 class="font-weight-bold">@CultureHelper.GetTranslation("customer_accounting", Context.Session.GetString("SiteLanguage"))</h5>
                        <p class="py-4 m-auto lh-1-5">@CultureHelper.GetTranslation("history_of_communication_with_clients_is_stored_here", Context.Session.GetString("SiteLanguage"))</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center bg-white">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="~/Assets/images/upravlenie.svg" />
                        </div>
                    </div>
                    <div class="media-body mt-3">
                        <h5 class="font-weight-bold">@CultureHelper.GetTranslation("sales_mgmt_with_funnels", Context.Session.GetString("SiteLanguage"))</h5>
                        <p class="py-4 m-auto lh-1-5">@CultureHelper.GetTranslation("allows_you_to_control_the_deal", Context.Session.GetString("SiteLanguage"))</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center bg-white">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="~/Assets/images/integracia.svg" />
                        </div>
                    </div>
                    <div class="media-body mt-3">
                        <h5 class="font-weight-bold">@CultureHelper.GetTranslation("integration_with_sales_channels", Context.Session.GetString("SiteLanguage"))</h5>
                        <p class="py-4 m-auto lh-1-5">@CultureHelper.GetTranslation("all_requests_are_recorded", Context.Session.GetString("SiteLanguage"))</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center bg-white">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="~/Assets/images/avtomatisacia.svg" />
                        </div>
                    </div>
                    <div class="media-body mt-3">
                        <h5 class="font-weight-bold">@CultureHelper.GetTranslation("sales_automation", Context.Session.GetString("SiteLanguage"))</h5>
                        <p class="py-4 m-auto lh-1-5">@CultureHelper.GetTranslation("allows_you_to_automatically_set_tasks_for_specialists", Context.Session.GetString("SiteLanguage"))</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center bg-white">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="~/Assets/images/analitica.svg" />
                        </div>
                    </div>
                    <div class="media-body mt-3">
                        <h5 class="font-weight-bold">@CultureHelper.GetTranslation("analytics", Context.Session.GetString("SiteLanguage"))</h5>
                        <p class="py-4 m-auto lh-1-5">@CultureHelper.GetTranslation("allows_you_to_generate_online_reports", Context.Session.GetString("SiteLanguage"))</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center bg-white">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="~/Assets/images/upravlenie.svg" />
                        </div>
                    </div>
                    <div class="media-body mt-3">
                        <h5 class="font-weight-bold">@CultureHelper.GetTranslation("task_mgmt", Context.Session.GetString("SiteLanguage"))</h5>
                        <p class="py-4 m-auto lh-1-5">@CultureHelper.GetTranslation("if_a_task_is_overdue", Context.Session.GetString("SiteLanguage"))</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="azul-textblock my-5">
    <div class="container-fluid">
        <div class="container">
            <div class="div-title w-75"> @CultureHelper.GetTranslation("conclusion_why_crm_is_so_necessary", Context.Session.GetString("SiteLanguage"))</div>
            <div class="w-88"> @Html.Raw(CultureHelper.GetTranslation("conclusion_why_crm_is_so_necessary_html", Context.Session.GetString("SiteLanguage")))</div>
        </div>
    </div>
</section>
<partial name="~/Views/Shared/ConnectDigaCRM.cshtml" />