@using diga.bl.Models; using diga.dal;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Texts> models = ViewBag.models;
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Non Html Texts</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Texts</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Id</th>
            <th>En</th>
            <th>Ru</th>
            <th>Pt</th>
            <th>Es</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>En</th>
            <th>Ru</th>
            <th>Pt</th>
            <th>Es</th>
            <th>Actions</th>
        </tr>
        </tfoot>
        <tbody>
            @foreach(var m in models)
            {
                 <tr>
                    <td> @m.TextId</td>
                     <td> @m.En</td>
                     <td>@m.Ru</td>
                     <td>@m.Pt</td>
                     <td>@m.Es</td>
                     <td>
                        @using (Html.BeginForm("Delete", "Text", FormMethod.Post))
                        {
                            <input type="hidden" name="textId" value="@m.TextId">
                            <input type="hidden" name="isHtml" value="false">
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        }
                     </td>
                 </tr>
            }

 
        </tbody>
    </table>
    </div>
</div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
          $('#dataTable').DataTable();
        });

    </script>
}