@model diga.bl.Models.Cases

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cases</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewFileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewFileUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewVideoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewVideoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongText.TextId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortText.TextId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleText.TextId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
